@using WA_InfoShop.Models
@model List<Cart>

<li class="shopping_cart">
    <a href="#"><i class="icon-basket-loaded icons"></i></a>
    <span class="item_count">
        @Model.Count
    </span>
</li>